<mat-card>
  <td-expansion-panel>
    <ng-template td-expansion-panel-header>
      <mat-toolbar>
        <button mat-icon-button>
          <mat-icon [routerLink]="['/clientes', cobro.cliente.id]">person</mat-icon>
        </button>
        <span class="pad-left pad-right">{{cobro.cliente.nombre}}</span>

        <span class="fill-space"></span>
        <span>
          <span class="pad-right">Disponible: </span>
          <span class="tc-indigo-600">{{cobro.disponible | currency}}</span>
        </span>
      </mat-toolbar>
    </ng-template>
    <td-expansion-summary>
      <div layout layout-padding>
        <mat-form-field [style.width.px]="150">
          <input matInput [disabled]="true" placeholder="Importe" [value]="cobro.importe | currency" class="tc-indigo-800">
        </mat-form-field>
        <mat-form-field [style.width.px]="150" class="pad-left-sm">
          <input matInput [disabled]="true" placeholder="Aplicado" [value]="cobro.aplicado| currency" class="tc-indigo-800">
        </mat-form-field>
        <mat-form-field [style.width.px]="120" class="pad-left-sm">
          <input matInput [disabled]="true" placeholder="Diferencia" [value]="cobro.diferencia| currency" class="tc-indigo-800">
        </mat-form-field>
        <mat-form-field>
          <input matInput [disabled]="true" placeholder="Disponible" [value]="cobro.disponible| currency" class="tc-indigo-800">
        </mat-form-field>
        <mat-form-field [style.width.px]="150">
          <input matInput [disabled]="true" placeholder="Por Aplicar" [value]="porAplicar| currency" class="tc-indigo-800">
        </mat-form-field>

        <span *tdLoading="'saving'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; ">
          <button mat-raised-button (click)="aplicar()" color="primary" *ngIf="cobro.disponible > 0" [disabled]="porAplicar <= 0.0">Aplicar
            <mat-icon>check</mat-icon>
          </button>
        </span>
      </div>
    </td-expansion-summary>
    <div layout layout-padding>
      <span flex>
        <span>Fecha: </span>
        <span class=""> {{cobro.fecha | date: 'dd/MM/yyyy'}}</span>
      </span>
      <span flex>
        <span class=""> {{cobro.formaDePago}}</span>
      </span>
      <span flex>
        <span>Ref: </span>
        <span class=""> {{cobro.referencia}}</span>
      </span>
      <span flex>
        <span>Cartera: </span>
        <span> {{cobro.tipo}}</span>
      </span>
      <span flex>
        <span>Sucursal: </span>
        <span> {{cobro.sucursal.nombre}}</span>
      </span>
      <span *tdLoading="'saldando'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; ">
        <button mat-raised-button (click)="saldar(cobro)" color="accent" *ngIf="cobro.disponible > 0 && cobro.disponible <= 100.00"
          [disabled]="porAplicar > 0.0">
          <mat-icon>perm_data_setting</mat-icon> Saldar
        </button>
      </span>

    </div>
    <mat-divider></mat-divider>
    <div layout layout-padding>
      <span flex>
        <span>Importe: </span>
        <span class="pad-left tc-indigo-800">{{cobro.importe | currency}}</span>
      </span>
      <span flex>
        <span>Aplicado: </span>
        <span class="pad-left tc-indigo-800">{{cobro.aplicado | currency }}</span>
      </span>
      <span flex>
        <span>Disponible: </span>
        <span class="pad-left tc-indigo-800">{{cobro.disponible | currency}}</span>
      </span>

      <span flex>
        <span>Por aplicar: </span>
        <span class="pad-left tc-indigo-800">{{porAplicar | currency}}</span>
      </span>
    </div>
  </td-expansion-panel>
  <td-expansion-panel label="Facturas" sublabel="Cuentas por cobrar" [disabled]="false" [expand]="true">
    <ng-container *ngIf="pendientes$ | async as pendientes">
      <sx-facturas-table [data]="pendientes" (selection)="onSelection($event)" (reload)="reload()">
      </sx-facturas-table>
    </ng-container>
  </td-expansion-panel>
  <td-expansion-panel label="Aplicaciones" sublabel="Cobros aplicados" [disabled]="false">
    <sx-aplicaciones-table [data]="cobro.aplicaciones"></sx-aplicaciones-table>
  </td-expansion-panel>
</mat-card>
