<mat-card>
  <sx-search-title title="Registro de facturas" (search)="onSearch($event)">
    <button mat-menu-item (click)="generarPagare()" class="actions" [disabled]="selectedRows.length === 0"> Generar pagaré</button>
  </sx-search-title>
  <mat-divider></mat-divider>
  <div *tdLoading="let facturas until facturas$ | async; type: 'circle'; color: 'accent'">
    <td-data-table #dataTable [data]="facturas" [columns]="columns" [selectable]="true" [multiple]="false" [(ngModel)]="selectedRows">

    </td-data-table>
  </div>
</mat-card>
