<div layout="column" [formGroup]="parent">

  <mat-form-field flex>
    <input type="text" matInput placeholder="Código Postal" formControlName="codigoPostal" #zipField (focusout)="buscarDatos($event)">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" matInput placeholder="Calle" formControlName="calle" sxToUpperCase>
  </mat-form-field>

  <div flex layout>
    <mat-form-field flex>
      <input type="text" matInput placeholder="# Exterior" formControlName="numeroExterior">
    </mat-form-field>
    <mat-form-field flex>
      <input type="text" matInput placeholder="# Interior" formControlName="numeroInterior">
    </mat-form-field>
  </div>

  <div flex layout>
    <mat-select placeholder="Colonia" formControlName="colonia" flex>
      <mat-option *ngFor="let colonia of colonias" [value]="colonia">{{ colonia }}
      </mat-option>
    </mat-select>
  </div>

  <mat-form-field class="full-width">
    <input type="text" matInput placeholder="Delegación / Municipio" formControlName="municipio" sxToUpperCase>
  </mat-form-field>

  <div layout>
    <mat-form-field flex>
      <input type="text" matInput placeholder="Estado" formControlName="estado" sxToUpperCase>
    </mat-form-field>
    <mat-form-field flex>
      <input type="text" matInput placeholder="Pais" formControlName="pais" sxToUpperCase>
    </mat-form-field>
  </div>

</div>