<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>
      <span *ngIf="!despacho; else editing">Despacho de cobranza</span>
      <ng-template #editing>
        <span>Despacho: {{despacho?.nombre}}</span>
      </ng-template>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content>
      <div layout>
        <sx-upper-case-field [required]="true" formControlName="nombre" flex placeholder="Nombre">

        </sx-upper-case-field>
      </div>
      <div layout>
        <sx-upper-case-field [required]="true" formControlName="rfc" placeholder="RFC"></sx-upper-case-field>
        <mat-checkbox formControlName="activo"> Activo </mat-checkbox>
      </div>

      <div layout class="form-row">
        <mat-form-field flex class="pad-right">
          <input matInput type="text" placeholder="Telefono 1" formControlName="telefono1" autocomplete="off">
          <mat-error>Teléfono inválido</mat-error>
        </mat-form-field>
        <mat-form-field flex>
          <input matInput type="text" placeholder="Telefono 2" formControlName="telefono2" autocomplete="off">
          <mat-error>Teléfono inválido</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>



    <mat-card-actions align="end">
      <button mat-button type="button" (click)="cancel.emit(despacho)">Cancelar</button>
      <button mat-button color="accent" [disabled]="form.invalid || form.pristine">
        <mat-icon>save</mat-icon> Salvar</button>
      <ng-container *ngIf="despacho">
        <button mat-button color="accent" type="button" (click)="delete.emit(despacho)" color="warn">
          <mat-icon>delete</mat-icon> Eliminar</button>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</form>
