<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="sucursal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Suc</th>
    <td mat-cell *matCellDef="let row">{{row.sucursal}}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
    <td mat-cell *matCellDef="let row" mat-sort-header>{{row.nombre}}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let row">{{row.tipo}}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>
  <ng-container matColumnDef="documento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Factura</th>
    <td mat-cell *matCellDef="let row">{{row.documento}}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let row">{{row.fecha | date: 'dd/MM/yyyy'}}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>
  <ng-container matColumnDef="moneda">
    <th mat-header-cell *matHeaderCellDef>Moneda</th>
    <td mat-cell *matCellDef="let row">{{row.moneda}}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>
  <ng-container matColumnDef="formaDePago">
    <th mat-header-cell *matHeaderCellDef>F.Pago</th>
    <td mat-cell *matCellDef="let row">{{getFormaDePago(row)}}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
    <td mat-cell *matCellDef="let req">{{req.total | currency:'USD'}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotal('total') | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="cobros">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pagos</th>
    <td mat-cell *matCellDef="let req">{{req.cobros | currency}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotal('cobros') | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="aplicado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aplicado</th>
    <td mat-cell *matCellDef="let req">{{req.aplicado | currency:'USD'}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotal('aplicado') | currency}} </td>
  </ng-container>
  <ng-container matColumnDef="saldo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
    <td mat-cell *matCellDef="let req">{{req.saldo | currency:'USD'}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotal('saldo') | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let req">
      <mat-icon (click)="delete.emit(req)" class="cursor-pointer pad-right" color="warn">delete</mat-icon>
    </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let req; columns: displayColumns" class="cursor-pointer" [ngClass]="{ 'active': req.selected} " (click)="toogleSelect(req)"></tr>
  <tr mat-footer-row *matFooterRowDef="displayColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 50, 100, 200]" showFirstLastButtons></mat-paginator>
