<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="sucursal">
    <th mat-header-cell *matHeaderCellDef>Suc</th>
    <td mat-cell *matCellDef="let row" class="cursor-pointer">
      {{ row.sucursal }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="serieDocumento">
    <th mat-header-cell *matHeaderCellDef>Serie</th>
    <td mat-cell *matCellDef="let row" class="cursor-pointer">
      {{ row.serieDocumento }}
    </td>
    <td mat-footer-cell *matFooterCellDef>Totales</td>
  </ng-container>
  <ng-container matColumnDef="folioDocumento">
    <th mat-header-cell *matHeaderCellDef>Folio</th>
    <td mat-cell *matCellDef="let row" class="cursor-pointer">
      {{ row.folioDocumento }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="uuidDocumento">
    <th mat-header-cell *matHeaderCellDef>UUID</th>
    <td mat-cell *matCellDef="let row" class="cursor-pointer">
      {{ row.uuidDocumento?.substr(-12, 12) }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="fechaDocumento">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let row">
      {{ row.fechaDocumento | date: 'dd/MM/yyyy' }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Aplicación</th>
    <td mat-cell *matCellDef="let row">{{ row.fecha | date: 'dd/MM/yyyy' }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="moneda">
    <th mat-header-cell *matHeaderCellDef>Moneda</th>
    <td mat-cell *matCellDef="let row">{{ row?.cuentaPorCobrar?.moneda }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="tipoDeCambio">
    <th mat-header-cell *matHeaderCellDef>T.C</th>
    <td mat-cell *matCellDef="let req">
      {{ req.tipoDeCambio }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="totalDocumento">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let req">
      {{ req.totalDocumento | currency: 'USD' }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="pagosDocumento">
    <th mat-header-cell *matHeaderCellDef>Pagos</th>
    <td mat-cell *matCellDef="let req">
      {{ req.pagosDocumento | currency: 'USD' }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="saldoDocumento">
    <th mat-header-cell *matHeaderCellDef>Saldo</th>
    <td mat-cell *matCellDef="let req">
      {{ req.saldoDocumento | currency: 'USD' }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="importe">
    <th mat-header-cell *matHeaderCellDef>Aplicado</th>
    <td mat-cell *matCellDef="let req">{{ req.importe | currency: 'USD' }}</td>
    <td mat-footer-cell *matFooterCellDef="let req">
      {{ getTotalMn(req) | currency }}
    </td>
  </ng-container>

  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let req">
      <mat-icon
        (click)="delete.emit(req)"
        class="cursor-pointer pad-right"
        color="warn"
        >delete</mat-icon
      >
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let req; columns: displayColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayColumns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[10, 50, 100, 200]"
  showFirstLastButtons
></mat-paginator>
