table {
  width: 100%;
  // min-height: 200px;
  max-height: 500px;
  overflow: auto;
}
.mat-column-requisicion, .mat-column-folio {
  max-width: 50px;
}
.mat-cell {
  font-size: 11px;
}
.mat-row {
  height: 30px;
}
.mat-footer-row {
  height: 30px;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
}
