<td-data-table #dataTable [data]="filteredData" [columns]="columns" [selectable]="selectable" [clickable]="true" [multiple]="true"
  [sortable]="true" [sortBy]="sortBy" [(ngModel)]="selectedRows" [sortOrder]="sortOrder" (sortChange)="sort($event)" (rowSelect)="selectionChange()"
  (selectAll)="selectionChange()">
  <ng-template tdDataTableTemplate="nombre" let-value="value" let-row="row">
    <span layout="column">
      <span>{{value}}</span>
      <span *ngIf="row.comentario">{{row.comentario}}</span>
    </span>
  </ng-template>
  <ng-template tdDataTableTemplate="fechaRecepcionCxc" let-value="value" let-row="row">
    <span matTooltip="{{value | date:'dd/MM/yyyy'}}" *ngIf="value">
      <mat-icon class="tc-green-800 text-center">check</mat-icon>
    </span>
  </ng-template>
  <ng-template tdDataTableTemplate="revisada" let-value="value" let-row="row">
    <span *ngIf="value">
      <mat-icon class="tc-green-800 text-center">check</mat-icon>
    </span>
  </ng-template>
  <ng-template tdDataTableTemplate="revision" let-value="value" let-row="row">
    <span *ngIf="value">
      <mat-icon class="tc-green-800 text-center">check</mat-icon>
    </span>
  </ng-template>

</td-data-table>
<div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
  <h3>No hay cuentas facturas a revisión.</h3>
</div>
<td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
  <span hide-xs>Registros por pagina:</span>
  <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
    <mat-option *ngFor="let size of [10,50,100,500]" [value]="size">
      {{size}}
    </mat-option>
  </mat-select>
  {{pagingBar.range}}
  <span hide-xs>of {{pagingBar.total}}</span>
</td-paging-bar>
