<mat-card layout>
  <div layout layout-align="start center" flex class="pad-left-sm pad-right-sm">
    <span class="push-left-sm">
      <span class="mat-title">Cobros registrados</span>
    </span>
    <span flex></span>
    <td-search-box
      class="push-right-sm"
      placeholder="Filtrar"
      flex
      (searchDebounce)="onSearch($event)"
      [alwaysVisible]="true"
      autocomplete="off"
      [value]="filter"
      autocomplete="off"
    >
    </td-search-box>
    <sx-cobros-filter
      (change)="onFilter($event)"
      [filter]="cobrosFilter$ | async"
      [cartera]="cartera$ | async"
    ></sx-cobros-filter>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="toolbarMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #toolbarMenu="matMenu">
        <button
          mat-menu-item
          [disabled]="!isRecibosBatch()"
          (click)="onRecibosBatch(selected)"
        >
          Generar recibos de pago
        </button>
        <button
          mat-menu-item
          [disabled]="!isEnvioBatch()"
          (click)="envioBatch(selected)"
        >
          <mat-icon>email</mat-icon> Envio
        </button>
        <button mat-menu-item (click)="reload()">
          <mat-icon>refresh</mat-icon> Refresh
        </button>
      </mat-menu>
    </span>
  </div>
  <mat-divider></mat-divider>
  <sx-cobros-table
    [cobros]="cobros$ | async"
    [filter]="filter"
    (select)="onSelect($event)"
  ></sx-cobros-table>
  <mat-card-footer *ngIf="(cobrosFilter$ | async) as cobrosFilter">
    <sx-cobros-filter-label [filter]="cobrosFilter"></sx-cobros-filter-label>
  </mat-card-footer>
</mat-card>
