<div layout class="pad-right">
  <mat-form-field class="small-field">
    <input
      matInput
      [value]="formaDePago"
      [disabled]="true"
      placeholder="Forma de pago"
    />
  </mat-form-field>
  <mat-form-field class="pad-left small-field">
    <input
      matInput
      [value]="cobro.referencia"
      [disabled]="true"
      placeholder="Referencia"
    />
  </mat-form-field>
  <mat-form-field class="pad-left" flex>
    <input
      matInput
      [value]="cobro?.comentario ? cobro?.comentario : ' '"
      [disabled]="true"
      placeholder="Comentario"
    />
  </mat-form-field>
  <mat-form-field class="pad-left moneda-field">
    <input
      matInput
      [value]="cobro.moneda"
      [disabled]="true"
      placeholder="Moneda"
    />
  </mat-form-field>
  <mat-form-field class="pad-left tc-field">
    <input
      matInput
      [value]="cobro.tipoDeCambio"
      [disabled]="true"
      placeholder="T.C"
    />
  </mat-form-field>
  <mat-form-field class="pad-left importes">
    <input
      matInput
      value="{{ cobro.importe | currency }}"
      [disabled]="true"
      placeholder="Importe"
      class="tc-indigo-800"
    />
  </mat-form-field>
  <mat-form-field class="pad-left importes">
    <input
      matInput
      value="{{ cobro.aplicado | currency: 'USD' }}"
      [disabled]="true"
      placeholder="Aplicado"
      class="tc-indigo-800"
    />
  </mat-form-field>
  <mat-form-field class="pad-left importes">
    <input
      matInput
      value="{{ cobro.diferencia | currency }}"
      [disabled]="true"
      placeholder="Diferencia"
      class="tc-indigo-800"
    />
  </mat-form-field>
  <mat-form-field class="pad-left importes">
    <input
      matInput
      value="{{ cobro.disponible | currency }}"
      [disabled]="true"
      placeholder="Disponible"
      class="tc-indigo-800"
    />
  </mat-form-field>
</div>
