<div layout class="pad-left pad-right">
  <mat-form-field class="small-field">
    <input matInput value="{{cobro.fecha | date: 'dd/MM/yyyy'}}" [disabled]="true" placeholder="Fecha">
  </mat-form-field>
  <mat-form-field class="pad-left small-field">
    <input matInput [value]="cobro.formaDePago" [disabled]="true" placeholder="Forma de pago">
  </mat-form-field>
  <mat-form-field class="pad-left small-field">
    <input matInput [value]="cobro.referencia" [disabled]="true" placeholder="Referencia">
  </mat-form-field>
  <mat-form-field class="pad-left" flex>
    <input matInput [value]="cobro?.comentario" [disabled]="true" placeholder="Comentario">
  </mat-form-field>
  <mat-form-field class="pad-left small-field">
    <input matInput [value]="cobro.moneda" [disabled]="true" placeholder="Moneda">
  </mat-form-field>
  <mat-form-field class="pad-left">
    <input matInput value="{{cobro.importe | currency}}" [disabled]="true" placeholder="Importe" class="tc-indigo-800 ">
  </mat-form-field>
  <mat-form-field class="pad-left">
    <input matInput value="{{cobro.aplicado | currency}}" [disabled]="true" placeholder="Aplicado" class="tc-indigo-800 ">
  </mat-form-field>
  <mat-form-field class="pad-left ">
    <input matInput value="{{cobro.disponible | currency}}" [disabled]="true" placeholder="Disponible" class="tc-indigo-800 ">
  </mat-form-field>
</div>
