<ng-container *ngIf="cliente$ | async as cliente">

  <td-layout-nav #navList color="primary" [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? 'Cliente:' : ''" navigationRoute="/">

    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>

    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span class="pad-left">{{cliente.nombre}}</span>
      <span flex></span>
      <button type="button" mat-icon-button (click)="cambiar()">
        <mat-icon>person</mat-icon>
      </button>
    </div>

    <td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
      [sidenavWidth]="!miniNav ? '257px' : '64px'">

      <div td-sidenav-content layout="column" layout-fill>

        <mat-nav-list flex [tdLayoutManageListClose]="!media.query('gt-sm')">
          <ng-template let-item let-index="index" let-last="last" ngFor [ngForOf]="navigation">
            <a mat-list-item [routerLink]="[item.path, cliente.id]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">
              <mat-icon matListIcon matTooltipPosition="after">{{item.icon}}
              </mat-icon>
              <span *ngIf="!miniNav">{{item.title}}</span>
            </a>
          </ng-template>

          <a mat-list-item [routerLink]="['/clientes']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">
            <mat-icon matListIcon matTooltipPosition="after">arrow_back</mat-icon>
            <span *ngIf="!miniNav">Clientes</span>
          </a>

          <ng-container *ngIf="cliente.clave === 'U050008'">
            <a mat-list-item [routerLink]="['socios']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">
              <mat-icon matListIcon matTooltipPosition="after">people_outline
              </mat-icon>
              <span *ngIf="!miniNav">Socios</span>
            </a>
          </ng-container>
          <mat-divider></mat-divider>
          <h3 matSubheader>Reportes</h3>
          <mat-list-item (click)="estadoDeCuenta(cliente)">
            <mat-icon matListAvatar>insert_chart</mat-icon>
            <h3 matLine> Estado de cuenta </h3>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
        </mat-nav-list>
      </div>

      <mat-sidenav-container flex>
        <mat-sidenav #sidenav position="end">
          <div layout="column" layout-fill>
            <mat-toolbar>Configuración</mat-toolbar>
            <div flex class="mat-content">
              <pre>{{cliente | json}}</pre>
            </div>
          </div>
        </mat-sidenav>

        <td-layout-nav color="none">
          <!-- <div td-toolbar-content flex layout="row" layout-align="start center">
            <button mat-icon-button tdLayoutManageListToggle>
              <mat-icon>apps</mat-icon>
            </button>
            <span hide-xs>Title</span>
            <span flex></span>
            <button matTooltip="Dashboard Settings" matTooltipPosition="before" type="button" mat-icon-button (click)="sidenav.open()">
              <mat-icon>settings</mat-icon>
            </button>
          </div> -->

          <router-outlet></router-outlet>
        </td-layout-nav>
      </mat-sidenav-container>

    </td-layout-manage-list>
  </td-layout-nav>
</ng-container>
